---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import OverloadSection from '@/components/OverloadSection.astro';
import RestartSection from '@/components/RestartSection.astro';
import YourProblemsSection from '@/components/YourProblemsSection.astro';
import ProductSection from '@/components/ProductSection.astro';
import PsychoSection from '@/components/PsychoSection.astro';
import Footer from '@/components/Footer.astro';
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
    <OverloadSection />
    <RestartSection />
    <YourProblemsSection />
    <ProductSection />
    <PsychoSection />
  </main>
  <Footer />
</BaseLayout>
