---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import OverloadSection from '@/components/OverloadSection.astro';
import Footer from '@/components/Footer.astro';
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
    <OverloadSection />
  </main>
  <Footer />
</BaseLayout>
