---
const { class: className = '' } = Astro.props;
---
<span class={`logo-battery ${className}`} aria-hidden="true" data-node-id="56:391">
  <span class="logo-battery__cap-top"></span>
  <span class="logo-battery__body">
    <span class="logo-battery__bar"></span>
    <span class="logo-battery__bar"></span>
    <span class="logo-battery__bar"></span>
    <span class="logo-battery__bar"></span>
    <span class="logo-battery__bar"></span>
  </span>
  <span class="logo-battery__cap-bottom"></span>
</span>

<style>
.logo-battery {
  display: inline-block;
  flex: 0 0 auto;
  height: 55px;
  position: relative;
  transform: rotate(35deg);
  transform-origin: center;
  width: 19px;
}

.logo-battery__body {
  background: var(--bg1, #dbd9d2);
  border: 1px solid var(--primary, #fab842);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  inset: 5.45% 0 1.82% 0;
  padding: 4px 2px;
  position: absolute;
}

.logo-battery__bar {
  background: var(--primary, #fab842);
  border-radius: 4px;
  display: block;
  height: 7px;
  width: 15px;
}

.logo-battery__cap-top,
.logo-battery__cap-bottom {
  background: var(--primary, #fab842);
  border-radius: 4px 4px 0 0;
  height: 3px;
  left: 21.05%;
  position: absolute;
  right: 21.05%;
}

.logo-battery__cap-top {
  top: 0;
}

.logo-battery__cap-bottom {
  bottom: 0;
  transform: rotate(180deg);
}
</style>
