---
import BatteryIcon from '@/components/BatteryIcon.astro';
---
<span class="logo" data-node-id="88:419">
  <span class="logo-mark">
    <BatteryIcon class="logo-mark__battery" />
    <span class="logo-mark__text" aria-label="Александра Волкова">
      <span>Александра</span>
      <span>Волкова</span>
    </span>
  </span>
</span>

<style>
.logo {
  color: var(--just-dark, #5c5958);
  display: inline-block;
  min-width: 0;
}

.logo-mark {
  display: inline-block;
  min-height: 64px;
  min-width: 210px;
  position: relative;
}

.logo-mark__battery {
  left: -2px;
  position: absolute;
  top: 16px;
  z-index: 0;
}

.logo-mark__text {
  color: var(--just-dark, #5c5958);
  display: flex;
  flex-direction: column;
  font-family: var(--font-main, 'Onest', sans-serif);
  font-size: 32px;
  font-weight: 900;
  line-height: 0.9;
  position: relative;
  text-shadow: 6px 12px 2px rgba(176, 156, 134, 0.4);
  z-index: 1;
}

.logo-mark__text span {
  display: block;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .logo-mark {
    min-height: 58px;
    min-width: 190px;
  }

  .logo-mark__text {
    font-size: 29px;
  }

  .logo-mark__battery {
    top: 14px;
    transform: rotate(35deg) scale(0.9);
  }
}
</style>
